<app-base-dialog [overlayClose]="true" #baseDialog>
  <div class="max-w-sm flex flex-col p-3">
    <div class="flex flex-col justify-center w-full">
      <span class="text-black text-xl font-medium">{{'pages.dipro.settings.components.changePasswordDialog.title' | translate}}</span>
    </div>
    <div class="my-3" *ngIf="['idle', 'error'].includes(state)">
      <input type="password" [formControl]="formControlPassword" class="input-text" [placeholder]="'pages.dipro.settings.components.changePasswordDialog.newPassword' | translate">
      <app-validator-message [control]="formControlPassword"></app-validator-message>
    </div>
    <app-error-message *ngIf="state === 'error'" [message]="'pages.dipro.settings.components.changePasswordDialog.error' | translate"></app-error-message>
    <div class="w-full flex justify-end mt-3 mb-2" *ngIf="['idle', 'error'].includes(state)">
      <button class="btn btn-accent btn-stroked mx-1" (click)="close()">{{'pages.dipro.settings.components.changePasswordDialog.cancel' | translate}}</button>
      <button class="btn btn-accent btn-flat mx-1" (click)="submit()">{{'pages.dipro.settings.components.changePasswordDialog.accept' | translate}}</button>
    </div>
    <div class="w-full flex justify-center" *ngIf="state === 'changing'">
      <app-rhombus-animation></app-rhombus-animation>
    </div>
    <div class="w-full flex flex-col justify-center items-center" *ngIf="state === 'success'">
      <i class="mdi mdi-check-circle-outline text-green-500 text-2xl"></i>
      <button class="btn btn-accent btn-flat mx-1" (click)="baseDialog.close()">{{'pages.dipro.settings.components.changePasswordDialog.accept' | translate}}</button>
    </div>
  </div>
</app-base-dialog>
