<app-drawer [title]="'pages.dipro.settings.title' | translate">
  <div class="d-flex flex-col w-full divide-y divide-gray-400 py-2">
    <div class="w-full px-4 flex flex-col">
      <span class="font-semibold text-base text-gray-500">{{'pages.dipro.settings.language.title' | translate}}</span>
      <div class="flex my-2 flex-wrap">
        <div *ngFor="let language of languages">
          <button class="btn btn-accent m-1" [ngClass]="((configurationService.language | async) === language.language) ? 'btn-flat' : 'btn-stroked'" (click)="changeLanguage(language.language)">{{language.label | translate}}</button>
        </div>
      </div>
    </div>
    <div class="w-full px-4 flex flex-col">
      <span class="font-semibold text-base text-gray-500">{{'pages.dipro.settings.security.title' | translate}}</span>
      <div class="flex my-2">
        <button class="btn btn-accent btn-flat mx-1" (click)="changePasswordDialog.open()">{{'pages.dipro.settings.security.changePassword' | translate}}</button>
      </div>
    </div>
    <div class="w-full px-4 flex flex-col">
      <span class="font-semibold text-base text-gray-500">{{'pages.dipro.settings.client.title' | translate}}</span>
      <div class="flex my-2 justify-between">
        <span>Client version 3</span>
        <i class="mdi mdi-check-circle-outline text-2xl text-green-500"></i>
      </div>
    </div>
  </div>
</app-drawer>

<app-change-password-dialog #changePasswordDialog></app-change-password-dialog>
